/* GoogleFonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/* Rubik Mono One */ 
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* Work Sans */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* DynaPuff */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');



* {
    box-sizing: border-box;
}

body {

    font-size: 16px;
    margin: 0 auto; 
    background-color: #1E1E1E;
    color: #E0E0E0;
    display: flex;
    text-align: center;
}

/* Navbar */

.navbar {
    height: 8rem;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */                         /* Place this link at the bottom of the index page */
    background-color: #2FD073;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(58,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232FD073'/%3E%3Cstop offset='1' stop-color='%232FD073'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(60,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(226,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    z-index: 1000;
    overflow: hidden;
}

.navbar a {

    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight:600;
}


/* Modal for how to play */

.h2play {
    font-family: "DM Serif Text", serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    cursor: pointer;

}

.h2play:hover {
    transform: scale(1.1);
    transition: 0.5s;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}



.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.logo {
    height: 7rem;
    width: 8rem;
    border-radius: 5px;    
   
   
}

.logo:hover {
    transform: rotate(360deg);
    transition: 2s;
    
}

h1 {
    font-family:  "Rubik Mono One", monospace;
}

/* Game board grid */

.game-board {
    display: grid;
    justify-content: center;
    gap: 10px;
   margin-top: 20px;  
}

.card {

    width: 100px;
    height: 100px;
    background-color: #D5B59A;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
    background-color: #F4AAB3;
   
}

/* Hidden class for cards */
.hidden {
    visibility: hidden;
    
}


.card.flipped {

    border: none;
    transform: rotateY(180deg);
}

/* Game buttons */

.game-buttons {

    
    margin-bottom: 10rem;
    height: 4rem;
}

.game-button {
    background-color: #E8E8E8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: 0px;
    border-radius: 3px;
    padding: 0.3rem;  
}

#next-level {
    background-color: gold;
}


#game-level-text {
    font-family: "DynaPuff", system-ui;
    
}

#moves-text {
    font-family: "DynaPuff", system-ui;
}


/* Footer section */

footer {

    background: #2A2A2A;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    z-index: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
   
    
}

/* Font Awesome icon */

.fa-github {

    font-size: 2.5rem;
    color: rgb(240, 240, 240);

}

.fa-github:hover {
    color: #5e5b5b;
}
