/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
/* Rubik Mono One */ 
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* Work Sans */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* DynaPuff */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {

    font-size: 16px;
    margin: 0 auto; 
    background-color: #1E1E1E;
    color: #E0E0E0;
    display: flex;
    text-align: center;
}

/* Navbar */

.navbar {
    height: 8rem;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */                         /* Place this link at the bottom of the index page */
    background-color: #2FD073;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(58,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232FD073'/%3E%3Cstop offset='1' stop-color='%232FD073'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(60,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(226,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.navbar a {

    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight:600;
}


/* Modal for how to play */

.h2play {
    font-family: "DM Serif Text", serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    cursor: pointer;

}

.h2play:hover {
    transform: scale(1.1);
    transition: 0.5s;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 101;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #000;
  font-weight: 600;
  margin-top: 40px;
  
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}


strong {
    font-size: larger;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  height: auto;
}


.gif {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-top: 10px;
}


.logo {
    height: 7rem;
    width: 8rem;
    border-radius: 5px;    
   
   
}

h1 {
    font-family:  "Rubik Mono One", monospace;
    margin-top: 3.5rem;
    letter-spacing: 2px;
    color: #fff;
}

h2 {
    font-family:  "Rubik Mono One", monospace;
}

/* Volume control */

.volume-control, .mute-button {
    background-color: #2A2A2A;;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}

#volume-control {
    cursor: pointer;
}

.mute-button:hover, .volume-control:hover {
   background-color: #444242;
   transition: 0.5s;
}

/* Level & Moves */

#game-level-text {
    font-family: "DynaPuff", system-ui;  
}

#moves-text {
    font-family: "DynaPuff", system-ui;
}


/* Game board grid */
.game-board {
    display: grid;
    justify-content: center;
    gap: 10px; 
   grid-template-columns: repeat(4, 1fr);
   max-width: 600px;
   margin: 0 auto;
}

/* Class added through JS that adds to level 1 gameboard  */
.game-board.small {
    max-width: 300px;
    margin: 0 auto;
}

.game-board.mid-grid { /*Levels 3 and 4 */
    max-width: 430px;
    margin: 0 auto;
    
}

.game-board.late-grid { /* Levels 5 and 6 */
    max-width: 600px;
    gap: 8px;
}

/* Cards */

 .card {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: #D5B59A;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    user-select: none;
    
}


.card:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
    background-color: #F4AAB3; 
}

.card.flipped {
    border: none;
    transform: rotateY(180deg);
}


.hidden { /* Hidden class for cards */
    visibility: hidden;   
}


/* Game buttons */

.game-buttons {
    margin-bottom: 10rem;
    height: 4rem;
}

.game-button {
    background-color: #E8E8E8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: 0px;
    border-radius: 3px;
    padding: 0.6rem 1rem;  
    cursor: pointer;
    font-size: 1rem;
}

.next-level {
    background-color: rgb(126, 48, 48); 
    color: white;
    transition: background-color 0.3s ease;
    cursor: not-allowed;
}



.control-button:hover, .ready:hover { /* For reset, select level button and ready class */
    transform: scale(1.05);
}

.ready { 
    background-color: green;
}


.next-level.ready {
    animation: pulse 1.5s infinite;
}


/* Footer section */

footer {
    background: #2A2A2A;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    z-index: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
}

/* Font Awesome icon */

.fa-github {
    font-size: 2.5rem;
    color: rgb(240, 240, 240);
}

.fa-github:hover {
    color: #5e5b5b;
}

.fa-question {
    font-weight: 900;
    color: black;  
}

/* Animation for fa-question */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.bounce-on-hover {
    transition: 0.3s;
}

 .card:hover .bounce-on-hover {
    animation: bounce 0.5s;
}

/* Animation for next-level ready button */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 130, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 130, 0, 0);
    }
}


/* Media Queries */


@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%; /* Makes the gameboard centered */
        margin: 0 auto;
    }
    .volume-control {
        visibility: hidden;
    }

    .volume-container {
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 480px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr) ; 
    }


    .game-button {
       
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        border: 0px;
        border-radius: 3px;
        padding: 0.1rem;  
        cursor: pointer;
        font-size: 0.8rem;
        height: 2rem;
        width: 5.5rem;    
        
    }

    .card {
        width: 100%;
        height: 100px;
        border-radius: 0px;
        
    }
}
    
